.footer {
  background-color: #d9cad3;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}
.menusearch{
    justify-content: center;
    display: flex;
    border: 1px solid #29ecdc;
}
.con1{
  border: 1px solid  #cfec29;
}